__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/
venv/
app/static/.webassets-cache/
app/static/screen.css
Pipfile.lock
helm
kubeseal
kubectl
chart/kubeseal-webgui/values-local.yaml
test.sh
test.yaml
*.pyc
.coverage
.venv/
