{
  "branches": ["master"],
  "tagFormat": "${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    ["@semantic-release/release-notes-generator", {
      "preset": "conventionalcommits",
      "presetConfig": {
        "types": [
            {"type": "feat", "section": "✨ Features"},
            {"type": "fix", "section": "🐛 Bug Fixes"},
            {"type": "perf", "section": "🚀 Performance Improvements"},
            {"type": "revert", "section": "mb-rewind: Reverts"},
            {"type": "docs", "section": "📚 Documentation"},
            {"type": "style", "section": "💎 Styles"},
            {"type": "chore", "section": "📦 Chores"},
            {"type": "refactor", "section": "♻️ Code Refactoring"},
            {"type": "test", "section": "✅ Tests"},
            {"type": "build", "section": "👷 Build System"},
            {"type": "ci", "section": "🔧 CI/CD"}
        ]
      }
    }],
    "@semantic-release/github"
  ]
}
