<!doctype html>  
<html>  
   <body>  
      <h2 style = "text-align: center;">KubeSeal Web-Gui</h2>  
          
      <form action = "http://localhost:5000/success" method = "POST">  
           
            {{ form.hidden_tag() }}  
              
            <div style = "font-size:18px;" font-weight:bold; margin:auto; align="center">  
               {{ form.cleartextSecret.label }}<br>  
               {{ form.cleartextSecret }}
               <br>
               {{ form.secretName.label }}<br>
               {{ form.secretName }}
               <br>
               {{ form.secretNamespace.label }}<br>  
               {{ form.secretNamespace }}  
               <br><br>  
               {{ form.submit }}  
            </div>  
              
         </fieldset>  
      </form>  
   </body>  
</html>
