<!DOCTYPE html>  
<html>  
<head>  
    <title>KubeSeal-Output</title>
    <link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>  
<body>
    <div class="container"><br>
        <center>
          <h2>Sealed-Secret</h2>
        </center>
      </div>
  
      <div class=container"><br>
      <div class="row align-items-center justify-content-center">
      <div class="col-md-4">
        <form  action="/" method="GET" role="form">
          <div class="form-group">
      </div>
          <br>													   
  
          <center>
            <button type="submit" class="btn btn-success">Neues Secret Verschlüsseln</button>
          </center>
        </form>
  
        <br>
  
          <!-- {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
  
          {% for message in messages %}
              {% if "Error" not in message[1]: %}
                  <div class="alert alert-info">
                  <strong>Success! </strong> {{ message[1] }}
                  </div>
              {% endif %}
  
              {% if "Error" in message[1]: %}
                  <div class="alert alert-danger">
                  <strong>Error: </strong> {{ message[1] }}
                  </div>
              {% endif %}
          {% endfor %}
              {% endif %}
          {% endwith %} -->
  
      </div>
      <br>
      </div>
      </div>
    </body>
</html>   