{{- if not .Values.customServiceAccountName }}
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: kubeseal-webgui-list-namespaces
  labels:
    {{- include "kubeseal-webgui.labels" . | nindent 4 }}
{{- with .Values.route.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
subjects:
- kind: ServiceAccount
  name: kubeseal-webgui
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: kubeseal-webgui-list-namespaces
  apiGroup: rbac.authorization.k8s.io
{{- end }}

