apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kubeseal-webgui.fullname" . }}
  labels:
  {{- include "kubeseal-webgui.labels" . | nindent 4 }}
data:
  kubeseal-cert.pem:
{{- toYaml .Values.sealedSecrets.cert | nindent 4 }}
  config.json: |-
    { 
      "api_url": {{ .Values.api.url | quote }},
      "display_name": {{ .Values.displayName | quote }}
      "kubeseal_webgui_ui_version": {{ .Values.ui.image.tag}}
      "kubeseal_webgui_api_version": {{ .Values.api.image.tag}}
    }