apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kubeseal-webgui.fullname" . }}
  labels:
    {{- include "kubeseal-webgui.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: {{ template "kubeseal-webgui.name" . }}
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        {{- include "kubeseal-webgui.labels" . | nindent 8 }}
    spec:
      {{- if .Values.serviceaccount.create }}
      serviceAccountName: kubeseal-webgui
      {{- end }}
      {{- if .Values.sealedSecrets.autoFetchCert }}
      initContainers:
        - name: "fetch-cert"
          image: "{{ .Values.api.image.repository }}:{{ .Values.api.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: [ "/kubeseal-webgui/bin/kubeseal-fetch.sh", "/certs/kubeseal-cert.pem" ]
          env:
            - name: KUBESEAL_CONTROLLER_NAME
              value: {{ .Values.sealedSecrets.controllerName | quote }}
            - name: KUBESEAL_CONTROLLER_NAMESPACE
              value: {{ .Values.sealedSecrets.controllerNamespace | quote }}
          volumeMounts:
            - mountPath: /certs
              name: sealed-secrets-certs
      {{- end }}
      containers:
        - name: "api"
          image: "{{ .Values.api.image.repository }}:{{ .Values.api.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: ORIGIN_URL
              value: "{{ .Values.api.url }}"
            - name: KUBESEAL_CERT
              value: "/kubeseal-webgui/cert/kubeseal-cert.pem"
          ports:
            - name: api
              containerPort: 5000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /secrets
              port: api
          readinessProbe:
            httpGet:
              path: /secrets
              port: api
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
           {{- if .Values.sealedSecrets.autoFetchCert }}
            - name: sealed-secrets-certs
              mountPath: /kubeseal-webgui/cert
           {{- else }}
            - name: sealed-secret-configmap
              mountPath: /kubeseal-webgui/cert/kubeseal-cert.pem
              subPath: kubeseal-cert.pem
           {{- end }}
        - name: "ui"
          image: "{{ .Values.ui.image.repository }}:{{ .Values.ui.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: ui
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: ui
          readinessProbe:
            httpGet:
              path: /
              port: ui
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: sealed-secret-configmap
              mountPath: /usr/share/nginx/html/config.json
              subPath: config.json
      volumes:
        {{- if .Values.sealedSecrets.autoFetchCert }}
        - name: sealed-secrets-certs
          emptyDir: {}
        {{- end }}
        - name: sealed-secret-configmap
          configMap:
            name: {{ include "kubeseal-webgui.fullname" . }}
