{% include 'header.html' without context %}
<div class="container">
    <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-body">
                <h5>Encrypted secret</h5>
                <div id="sealed-secret-content"><pre>{{ sealedSecret }}</pre></div>
                <button id="copy-button" type="button" class="btn btn-link" onclick="CopyToClipboard('sealed-secret-content')"><i class="material-icons">insert_drive_file</i> copy secret to clipboard</button>
              </div>
          </div>            
        <form action="/">
            <input class="mt-4 btn btn-light btn-lg btn-block" type="submit" value="Encrypt another secret">
        </form>
    </div>
</div>
{% include 'footer.html' without context %}