<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/output.css">
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/favicon.ico" />
    <script src="static/copy.js"></script>
</head>

<body>
    <div class="thing" ;>
        <h2>Sealed-Secret:</h2>
        <br>
        <div id="div1">{{ sealedSecret }}</div>
    </div>
    <br> <br>
    <button class="button" id="button1" onclick="CopyToClipboard('div1')">Kopieren</button>
    <br>
    <div class="container"></div>
    <form action="/">
        <br>
        <dl>
            <input class="btn btn-primary" type="submit" value="Neues Secret verschlüsseln">
        </dl>
    </form>
    </div>
</body>