[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
black = "*"
pre-commit = "*"
pydocstyle = "*"
isort = "*"

[packages]
flask = "*"
flask-cors = "*"
flask-restful = "*"
jinja2 = "*"
json-log-formatter = "*"
kubernetes = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
