name: Release Helm-Chart

on:
  push:
    tags:
      - '*'

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Install yq
        run: |
          wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/local/bin/yq
          chmod +x /usr/local/bin/yq

      - name: Update Version
        env:
          VERSION: ${{ github.ref_name }}
        run: |
          echo "Processing version $VERSION"
          
          # Update values.yaml
          yq -i ".ui.image.tag = \"$VERSION\"" chart/kubeseal-webgui/values.yaml
          yq -i ".api.image.tag = \"$VERSION\"" chart/kubeseal-webgui/values.yaml
          
          # Update Chart.yaml appVersion
          yq -i ".appVersion = \"$VERSION\"" chart/kubeseal-webgui/Chart.yaml
          
          # Bump Chart.yaml version (patch)
          CURRENT_CHART_VERSION=$(yq '.version' chart/kubeseal-webgui/Chart.yaml)
          NEW_CHART_VERSION=$(echo $CURRENT_CHART_VERSION | awk -F. '{$NF = $NF + 1;} 1' | sed 's/ /./g')
          echo "Bumping Chart version from $CURRENT_CHART_VERSION to $NEW_CHART_VERSION"
          yq -i ".version = \"$NEW_CHART_VERSION\"" chart/kubeseal-webgui/Chart.yaml
          
          # Update README.md
          sed -i -E "s/(\`api.image.tag\`[[:space:]]+\|[[:space:]]+.*[[:space:]]+\|[[:space:]]+\`)[^`]+(\`)/\1$VERSION\2/" chart/kubeseal-webgui/README.md
          sed -i -E "s/(\`ui.image.tag\`[[:space:]]+\|[[:space:]]+.*[[:space:]]+\|[[:space:]]+\`)[^`]+(\`)/\1$VERSION\2/" chart/kubeseal-webgui/README.md

      - name: Commit and Push Changes
        env:
          VERSION: ${{ github.ref_name }}
        run: |
          git add chart/kubeseal-webgui/values.yaml chart/kubeseal-webgui/Chart.yaml chart/kubeseal-webgui/README.md
          git commit -m "Bump version to $VERSION"
          git push origin main

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Package and Push Helm Chart
        run: |
          helm package chart/kubeseal-webgui
          
          # Lowercase the repository name for OCI registry compatibility
          REPO_NAME=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          
          helm push kubeseal-webgui-*.tgz oci://ghcr.io/$REPO_NAME/charts
